.content-container h1{  /* Лазерная резка*/
    color:bisque;
    margin-left: -10dvw;
    margin-bottom: 4dvw;
    font-size: 3dvw;
}

.content-container h3 { /* карт мира ... */
    color: beige;
    margin-top: 1dvw;
    font-size: 1.7dvw;
}

.content-container { /* Весь контейнер с заголовками, текстом и кнопкой */ 
    margin-top: 8dvw;
    margin-left: 30dvw;
}



.content-container p { /* производятся на высокоточном ... */
    font-size: 1.2dvw;
    color: azure;
    margin-left: -9dvw;
    margin-top: 1dvw;
}

p:first-child {
    margin-top: 3dvw;
}

.btn_our_products { /* Кнопка */
    background-color: rgba(0, 0, 0, 0);
    color: bisque;
    border-radius: 0.3em;
    border: 1px solid bisque;
    padding: 0.5em;
    font-size: 1.5dvw;
    margin-top: 6dvw;
    margin-left: 10dvw;
    caret-color: transparent;
}
